@{
    ViewData["Title"] = "Edit Profile";
}
@model Dashboard.Models.User

<div class="row">
   <h1 class="col-md-4 col-md-offset-1">Edit profile</h1>
</div>
<form asp-controller="Admin" asp-action="Update" method="post" class="col-md-10 col-md-offset-1 edit">
   <div class="col-md-5 edit_panels">
      <h3>Edit Information</h3>
      <div class="form-group">
         <label for="email">Email Address:</label>
         <input type="email" class="form-control" id="email" placeholder="Email" asp-for="email">
      </div>
      <div class="form-group">
         <label for="first_name">First Name:</label>
         <input type="text" class="form-control" id="first_name" placeholder="First Name" asp-for="first_name">
      </div>
      <div class="form-group">
         <label for="last_name">Last Name:</label>
         <input type="text" class="form-control" id="last_name" placeholder="Last Name" asp-for="last_name">
      </div>   
      <button type="submit" class="btn btn-success col-md-2 col-md-offset-10 edit_btns">Save</button>
   </div>
   <div class="col-md-5 col-md-offset-1 edit_panels">
      <h3>Change Password</h3>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" placeholder="Password" asp-for="password">
      </div>
      <div class="form-group">
         <label for="confirm">Password Confirmation:</label>
         <input type="password" class="form-control" id="confirm" placeholder="Confirmation" asp-for="confirm">
      </div>
      <button type="submit" class="btn btn-success col-md-5 col-md-offset-7 edit_btns">Update Password</button>
   </div>
   <div class="col-md-11 edit_panels edit">
      <h3>Edit Description</h3>
      <div class="form-group">
            <textarea class="form-control" rows="3" asp-for="description"></textarea>
      </div>
      <button type="submit" class="btn btn-success col-md-2 col-md-offset-10 edit_btns">Save</button>
   </div>
</form>