/*Write all of your CSS here*/
body { 
   padding-top: 70px; 
}

.links, .edit {
   margin-top: 20px;
}

.edit_panels, .messages {
   outline: 1px solid black;
}

.edit_btns {
   margin-bottom: 20px;
}

.alert {
   margin-top: 5px;
}

.users_list {
   margin-top: 20px;
}

#edit_link {
   margin-right: 15px;
}

.labels, .values {
   display: inline-block;
}

.labels {
   width: 150px;
}

.msg_block {
   margin-top: 20px;
}

.messages {
   padding: 0px 0px 20px 5px;
}

.nametag {
   padding: 0px;
}